mixin articleListItem(article)
  - const title = article.title || 'joker 也不是无所不知！'
  .article-list-item
    .title
      a(href=url_for(article.path))= title
      - if(!!article.top)
        span!= "置顶"
    .time
      time(datetime=date_xml(article.date))= date(article.date)

- const socialLink = theme.socialIcon
mixin socialIcon()
  ul.socialIcon
      each val, key in socialLink
        if(val !== null)
          li(id=key)
            a(href=val) 
              i.fa(class='fa-' + key aria-hidden="true")
              !=key
mixin jokerList(lists)
  ul.joker-custom-list
    each list, index in lists
      li
        a(href=list.url)
          span!= list.title
