extends includes/layout.pug

block content
  include ./includes/mixins/index.pug
  - const tagsList = list_tags({ show_count: true, style: false, separator: '' })
  - const cateList = list_categories({ show_count: true, style: false, separator: '' })
  - const slefIntro = theme.blogInfo.selfIntro
  - const avatorUrl = theme.blogInfo.profile.avatar
  - const name = theme.blogInfo.profile.author
  - const profile = theme.blogInfo.profile
  - const friends = theme.blogInfo.friends
  #joker-about
    .about-main
      .left-context 
        .intro
          h2 | About Me
          .intro-main
            p!= slefIntro
        .custom
          each slot in theme.slots
            .custom-slot
              h2!= "| " + slot.title
              .custom-lists(class=slot.title)
                + jokerList(slot.lists)
        .topK
          h2 | 置顶文章
          .topk-list
            - site.posts.each(function(article, index) {
              if(!!article.top)
                + articleListItem(article)
            - })
        include includes/unjoker/comments/index.pug
      .right-context 
        include includes/common/label.pug
        #joker-profile
          .profile
            each item, key in profile
              div(class='author-' + key)
                if key === 'avatar'
                  img(src=item, alt="")
                else
                  p!= item
          .friends
            span.title!= 'Friends'
            ul
              each item, key in friends
                li
                  a(href=item.url) 
                    != '[ ' + item.name + ' ]'

