extends includes/layout.pug

block content
  #joker-post
    .post-head
      p.post-title= page.title
    #joker-post-main
      article#joker-article
        != page.content
        #joker-prev-next
          - const prevLink = page.prev ? page.prev.path : "#"
          - const nextLink = page.next ? page.next.path : "#"
          .prev
            a.previous(href=url_for(prevLink))
              i.fa.fa-arrow-left(aria-hidden="true")
              span!= 'Preivous'
          .next
            a.following(href=url_for(nextLink))
              span!= 'Following'
              i.fa.fa-arrow-right(aria-hidden="true")
              
        include includes/unjoker/comments/index.pug
      #joker-toc
        .label
          ul.tags
            each tag in page.tags.data
              li
                a(href=url_for(tag.path)) 
                  span!= tag.name
          ul.categories
            each category in page.categories.data
              li
                a(href=url_for(category.path)) 
                  span!= category.name

        .sidebar-toc!= toc(page.content, {list_number: false, max_depth: 2, min_depth: 1})
    
  //- #paginator!= paginator()
