- const socialLink = theme.social_icon
#joker-footer
  ul.social
    each val, key in socialLink
      if(val !== null)
        li
          a(href=val) 
            i.fa(class='fa-' + key aria-hidden="true")
  .info
    p="Copyright © Blog 2021"
    p="Powered by Blog" 
  //- - for(let key in socialLink) {
  //-     if(socialLink[key] !== null)
  //-       li
  //-         a(href=socialLink[key]) 
  //-           i.fa.fa-#{key}(aria-hidden="true")
  //- - }
    //- i.fa.fa-weibo(aria-hidden="true")
    //- i.fa.fa-qq(aria-hidden="true")
    //- i.fa.fa-weixin(aria-hidden="true")
    //- i.fa.fa-github(aria-hidden="true")
    //- i.fa.fa-twitter(aria-hidden="true")