
- var siteTitle = page.title || config.subtitle || ''
- if (is_archive()) siteTitle = 'Archives'
- if (is_tag()) siteTitle = 'Tag: ' + page.tag
- if (is_category()) siteTitle = 'Category: ' + page.category
- if (is_month()) siteTitle += ': ' + page.month + '/' + page.year
- if (is_year()) siteTitle += ': ' + page.year
- siteTitle += ' [ ' + config.title + ' ]'

- var Desc = page.description || page.title || config.description || theme.desc ||''
- var Keywords = (config.keywords || []).join(',')
- if (page.tags && page.tags.data) pageKeywords = page.tags.data.map(function(tag) {return tag.name;}).join(',')
- if (page.keywords) pageKeywords = page.keywords.join(',')
- var Author = config.email ? config.author + ',' + config.email : config.author
- var Copyright = config.copyright || config.author

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    <link href="favicon.ico" rel="shortcut icon" type="image/ico">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    title= siteTitle
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
    if theme.cdn.css !== undefined
      each url in theme.cdn.css
        if url !== null
          link(rel='stylesheet', href=url)
  body
    header
       include header/index.pug
    main
      .content-outer
        .content-inner
          if body
            div!= body
          else
            block content
    footer
      include footer/index.pug
    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=url type='module')