- const title = post.title || 'joker 也不是无所不知！'
- const summary = post.summary || post.content.match(/<(p)>([\s\S]*?)(<[\w]+ [\s\S]*?>|<\/\1>)/i)[2] || "Read More"
.font-post.post
  .title
    a(href=url_for(post.link || post.path))= title
  .summary
    p
      a(href=url_for(post.path))= summary
.back-post.post
  .time 
    if post.date
      .build
        i.fa.fa-clock-o
        time(datetime=post.date.toJSON())= date(post.date, date_format)
    if post.updated
      .update 
        i.fa.fa-clock-o
        time(datetime=post.updated.toJSON())= date(post.updated, date_format) 
  if post.categories.length > 0
    .categories
      i.fa.fa-folder-open
      each categorie in post.categories.data
        a(href=categorie.path) 
          != categorie.name
  if post.tags.length > 0
    .tags 
      i.fa.fa-tags
      each tag in post.tags.data
        a(href=tag.path) 
          != tag.name