.font-post.post
  .title
    a(href=url_for(post.path))= post.title
  if post.summary
    .summary
      p!=post.summary
.back-post.post
  .time 
    if post.date
      .build
        i.fa.fa-clock-o
        time(datetime=post.date.toJSON())= date(post.date, date_format)
    if post.updated
      .update 
        i.fa.fa-clock-o
        time(datetime=post.updated.toJSON())= date(post.updated, date_format) 
  if post.categories.length > 0
    .categories
      i.fa.fa-folder-open
      span= post.categories.data[0].name
  if post.tags.length > 0
    .tags 
      i.fa.fa-tags
      span= post.tags.data[0].name